<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tanghe.garben.capitalbooze"
    android:versionCode="23"
    android:versionName="30/09/2017">

    <!-- To make the device vibrate-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- To connect with Firebase-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <tools:validation testUrl="http://moederpeerdevisscher.com/event/capitalboozeprices.php" />
            <tools:validation testUrl="http://moederpeerdevisscher.com/event/capitalboozeprices.php" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<data android:scheme="http" android:host="www.moederpeerdevisscher.com" />-->
            </intent-filter>
        </activity>

    </application>

</manifest>