body {
	margin: 0%;
	color: #757575;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
header, footer {
	background: #3853A3;
	color: #FFFFFF;
	padding: 1%;
	margin: 0%;
}
header h1, h2, p {
	padding: 0%;
	margin: 0%;
}
.wolf {
	margin: 1%;
}
.prices {
	margin: 1%;
}
.prices h2 {
	margin: 0%;
}
th, td {
	padding:12px;
}
iframe {
	float: right;
}

/* Footer */
footer {
	float: clear;
	background: #3853A3;
	color: #FFFFFF;
	padding: 1%;
	margin: 0%;
	text-align: center;
	font-size: 12px;
}
footer a {
	color:#FFFFFF;
}